@font-face {
    font-family: 'PodiumNeueBoldRegular';
    src: url('/fonts/podium_neue_bold-webfont.eot');
    src: url('/fonts/podium_neue_bold-webfont.eot?iefix') format('eot'),
         url('/fonts/podium_neue_bold-webfont.woff') format('woff'),
         url('/fonts/podium_neue_bold-webfont.ttf') format('truetype'),
         url('/fonts/podium_neue_bold-webfont.svg#webfontvzv2ZKie') format('svg');
    font-weight: normal;
    font-style: normal;
}

span.podium {
    font-family: PodiumNeueBoldRegular;
}
p > span.podium {
    font-size: 1.1em;
}

a {
    color: #0c8;
}

a:hover {
    color: #008055;
}

a.brand span.podium, h1 span.podium, h2 span.podium, h3 span.podium {
  font-weight: normal;
}

body, section {
    padding-top: 60px;
}
.container > h1 {
    padding-top: 1em;
    clear: both;
}
.tiny {
  padding: 2px 5px 2px 5px;
  font-size: 11px;
}
a.floaty {
  float: left;
}
p.floaty {
  margin-left: 1.8em;
}
img.flag {
  padding-top: 0.8em;
  height: 32px; width: auto; opacity: 0.5;
}
.active img.flag {
  opacity: 1.0;
}

.navbar-inner {
    background-color: #2C6C2C;
    background-image: -moz-linear-gradient(top, #383, #262);
    background-image: -ms-linear-gradient(top, #383, #262);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#383), to(#262));
    background-image: -webkit-linear-gradient(top, #383, #262);
    background-image: -o-linear-gradient(top, #383, #262);
    background-image: linear-gradient(top, #383, #262);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333', endColorstr='#222', GradientType=0);
}

/* Tweak navbar brand link */
.navbar-fixed-top .brand {
  padding-right: 0;
  padding-left: 0;
  margin-left: 20px;
  float: left;
  font-weight: bold;
  color: #000;
  text-shadow: 0 1px 0 rgba(255,255,255,.1), 0 0 30px rgba(255,255,255,.125);
  -webkit-transition: all .2s linear;
     -moz-transition: all .2s linear;
          transition: all .2s linear;
}
.navbar-fixed-top .brand:hover {
  text-decoration: none;
}
