    <li>
        <a class="ink-smooth-scroll" data-margin="45px" href="/#top">Home</a>
    </li>

    <li>
        <a class="ink-smooth-scroll" data-margin="45px" href="/#projects">Projects</a>
    </li>

<!--
    <li>
        <a class="ink-smooth-scroll" data-margin="45px" href="/#initiatives">Initiatives</a>
    </li>
-->

    <li>
        <a class="ink-smooth-scroll" data-margin="45px" href="/#ongoing">More</a>
    </li>

<!--
    <li style="float: right;">
        <a class="ink-smooth-scroll" data-margin="45px" href="/about">About</a>
    </li>
-->