<div class="snap-drawers hide-m hide-l cb-nav">
    <div class="snap-drawer snap-drawer-left" id="side-nav">
          <nav class="ink-navigation">
              <ul class="menu vertical">
                 <li class="heading">Open Source at Sapo</li>
                 <li class="home active"><a href="/">home</a></li>
              </ul>
          </nav>
    </div>
</div>
<div class="topbar cb-nav" id="main-nav">
   <div class="ink-grid">
      <nav class="ink-navigation spy-nav">
           <ul class="menu horizontal hide-large hide-medium push-left" id="main-nav-site">
              <li>
                 <button id="main-drawer">
                    <i class="icon-reorder"></i>
                 </button>
              </li>
           </ul>
      </nav>
   </div>
</div>
