<div class="spotlight">
    <div class="ink-grid">
        <div class="column-group gutters align-center">
            <div class="all-25 small-100 tiny-100">

                <img src="/imgs/greencubes512.png" alt="">
            </div>
            <div class="all-75 small-100 tiny-100">
                <h2>{{ site.name }}</h2>
                <p>Thinking out of the box. Tools for all kinds of boxes.</p>
                <a href="/about" class="ink-button green">{{site.learn}}</a>
            </div>
        </div>
    </div>
</div>
