<div id="topbar" class="ink-sticky">
    <div class="ink-grid">
        <div class="control append-button push-right search">
            <span>
                <input type="text" id="name5" placeholder="search">
            </span>
            <button class="ink-button green">
                <i class="fa-search"></i>
            </button>
        </div>

        <nav class="ink-navigation push-left hide-tiny hide-small  show-xlarge show-large show-medium" data-offset-top="0">



            <ul class="menu horizontal black">

                {% include nav-links.html %}

            </ul>


        </nav>
        <nav class="ink-navigation hide-all show-small show-tiny">
            <ul class="menu vertical">
                <li>
                    <button class="toggle push-left fa fa-bars" data-target="#topbar_menu" id="toggleVisibility">
                    </button>
                </li>
            </ul>
            <ul id="topbar_menu" class="menu vertical black hide-all">
                {% include nav-links.html %}
            </ul>
        </nav>
    </div>
</div>
